@using Sandbox;
@using Sandbox.UI;
@using System;
@using System.Collections.Generic;
@attribute [StyleSheet]

@namespace GuessIt

<root>

    <div class="header">
        <img src="ui/logo.png" class="logo @LogoClass()" />
    </div>

    <div class="big-container">
        
        <div class="game-header">
            <div class="game-info">
                <div class="timer">@MathF.Floor(MathF.Max(GameTimer, 0))</div>
                @if(Round > 0)
                {
                    <div class="round">Round @(Round) of @(Rounds)</div>
                }
            </div>

            <div class="game-word">
                <GameHeader @ref="Header" />
            </div>

            <div class="game-settings">
                @if(LobbyState == LOBBY_STATE.WAITING_FOR_PLAYERS && Lobby.Owner.Id == Game.SteamId)
                {
                    <button class="@StartButtonClasses()" onclick=@StartGame>Start Game</button>
                }
                <div class="settings" onclick=@OpenSettings>⚙️</div>
            </div>
        </div>

        <div class="game-container">

            <div class="player-list">
                <p class="header">Players</p>

                <div @ref="PlayerList" class="players">

                </div>
                

            </div>

            <div @ref="CanvasContainer" class="game-canvas-container">
                <GameCanvas @ref="CanvasPanel" />
            </div>

            <div class="chat-container">
                <p class="header">Chat</p>

                <div class="chat" @ref="ChatBox" PreferScrollToBottom=@(true)>
                    
                    

                </div>

                <TextEntry @ref="ChatEntry" CaretColor=@(Color.Gray) onsubmit=@SendChat Value:bind=@ChatText Placeholder="Type your guess here..." AllowEmojiReplace=@(true) ></TextEntry>
            </div>

        </div>

    </div>

</root>